#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# Mod Junk To Gold Configuration
########################################
#
#	 ModJunkToGold.Enable
#        Description: Enable Junk To Gold Mod.
#        Default:     0 - Disabled
#                     1 - Enabled
#
#	 ModJunkToGold.EnableForRealPlayer
#        Description: Enable Junk To Gold Mod. for real player
#        Default:     0 - Disabled
#                     1 - Enabled
#
#	 ModJunkToGold.EnableForPlayebot
#        Description: Enable Junk To Gold Mod. for playerbot
#        Default:     0 - Disabled
#                     1 - Enabled

ModJunkToGold.Enable = 1
ModJunkToGold.EnableForRealPlayer = 1
ModJunkToGold.EnableForPlayebot = 1
